#DEICard {
  border-radius: 10px;
  background: linear-gradient(168.53deg, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
}
